.currentWeather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: #ffc01f;
  padding: 50px 0;
}

.header {
  font-size: calc(30px + 3vh);
  font-weight: normal;
}

.cityWeather {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.city {
  font-size: calc(30px + 3vh);
  color: rgba($color: #ffc01f, $alpha: 0.6);
  max-width: 50%;
}

.weatherIcon {
  width: calc(30px + 25vh);
  filter: invert(0.4) sepia(1) saturate(3.1) hue-rotate(3.6deg) brightness(1.04);
}

.fahrenheitDeg {
  position: relative;
  font-size: calc(30px + 20vh);
}

.celsiusDeg {
  position: relative;
  font-size: calc(30px + 10vh);
}

.degType {
  font-size: 36px;
}
