.forcast {
  background-color: #ffc01f;
  width: 50%;
  color: white;
  overflow-y: scroll;
}

.header {
  margin: 50px 0;
  font-size: calc(30px + 3vh);
  font-weight: normal;
  text-align: center;
}

.forcastUL {
  list-style: none;
  max-width: 50%;
  min-width: 500px;
  margin: 0 auto;
}
