.forcastDayWrapper {
  margin-bottom: 50px;
}

.forcastHeader {
  font-size: 48px;
  color: rgba($color: white, $alpha: 0.6);

  @media (max-width: 820px) {
    text-align: center;
  }
}

.forcastDayFlex {
  display: grid;
  grid-template-areas: 'desc img';
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  @media (max-width: 820px) {
    grid-template-areas:
      'img'
      'desc';
    justify-content: center;
    align-items: center;
  }
}

.weatherDesc {
  grid-area: desc;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

.weatherList {
  list-style: none;
  width: 250px;
  li {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    font-weight: bold;
    font-size: 18px;

    span {
      font-weight: normal;
    }
  }
}

.weatherIcon {
  grid-area: img;
  justify-self: center;
  width: 200px;
}
