.forcast {
  background-color: #ffc01f;
  width: 50%;
  color: white;
  overflow-y: scroll;

  @media (max-width: 1025px) {
    width: 100vw;
  }
}

.header {
  margin: 50px 0;
  font-size: calc(30px + 3vh);
  font-weight: normal;
  text-align: center;
}

.forcastUL {
  list-style: none;
  max-width: 50%;
  min-width: 500px;
  margin: 0 auto;

  @media (max-width: 820px) {
    max-width: unset;
    min-width: unset;
  }
}
