.fahrenheitDeg {
  font-size: calc(30px + 20vh);

  @media (max-width: 1025px) {
    font-size: calc(30px + 20vw);
  }
}

.celsiusDeg {
  font-size: calc(30px + 10vh);

  @media (max-width: 1025px) {
    font-size: calc(30px + 20vw);
  }
}

.degType {
  font-size: 36px;
}
